In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
%aimport bonds

In [12]:
import qgrid
import pandas as pd
import numpy as np

In [5]:
tfees = 10e3
D0 = 2e8
tsh = 10*12
rsh = 1.96/100.
tlong = 30*12
rlong = 3.12/100.
rinc = 1.5/100.
incper = 12.
nper = 200
peryr = 12.
spread = 2/100.
Dball = 0

In [8]:
parameter = ['Shorter Treasury Yield', 'Shorter Treasury Term (Years)', 'Longer Treasury Yield', 'Longer Treasury Term (Years)', 'Spread of CTL (bps)', 
            'Notes issued', 'Annual Trustee Fees', 'Lease % Step-Up', 'Step-Up Period', 'Lease Term (Periods)', 'Balloon Dollar Amount', 'Periods per Year']
values = [" "]*len(parameter)

In [22]:
intab = pd.DataFrame(np.array([parameter, values]).T, columns = ['Parameter', 'Value'])

In [23]:
intab

                        Parameter Value
0          Shorter Treasury Yield
1   Shorter Treasury Term (Years)
2           Longer Treasury Yield
3    Longer Treasury Term (Years)
4             Spread of CTL (bps)
5                    Notes issued
6             Annual Trustee Fees
7                 Lease % Step-Up
8                  Step-Up Period
9            Lease Term (Periods)
10          Balloon Dollar Amount
11               Periods per Year

In [24]:
qgrid_widget = qgrid.show_grid(intab, show_toolbar = True)
qgrid_widget

UWdyaWRXaWRnZXQoZ3JpZF9vcHRpb25zPXsnaGlnaGxpZ2h0U2VsZWN0ZWRSb3cnOiBUcnVlLCAnZnVsbFdpZHRoUm93cyc6IFRydWUsICdyb3dIZWlnaHQnOiAyOCwgJ2VuYWJsZUNvbHVtblLigKY=

In [25]:
qgrid_widget.get_changed_df()

                        Parameter  Value
0          Shorter Treasury Yield   1.96
1   Shorter Treasury Term (Years)     10
2           Longer Treasury Yield   3.12
3    Longer Treasury Term (Years)     30
4             Spread of CTL (bps)    200
5                    Notes issued    2e8
6             Annual Trustee Fees    1e5
7                 Lease % Step-Up    1.5
8                  Step-Up Period     12
9            Lease Term (Periods)    200
10          Balloon Dollar Amount      0
11               Periods per Year     12

In [6]:
df = bonds.buildschedule(D0, tsh, rsh, tlong, rlong, spread, tfees, rinc, incper, nper, peryr, Dball)

['Average life = 9.74 years', 'Interest rate = 3.91%']

In [7]:
qgrid_widget = qgrid.show_grid(df, show_toolbar = True)
qgrid_widget

UWdyaWRXaWRnZXQoZ3JpZF9vcHRpb25zPXsnaGlnaGxpZ2h0U2VsZWN0ZWRSb3cnOiBUcnVlLCAnZnVsbFdpZHRoUm93cyc6IFRydWUsICdyb3dIZWlnaHQnOiAyOCwgJ2VuYWJsZUNvbHVtblLigKY=